body {
  background-color: rgb(69 99 117);
}

.joke {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10vw;
  color: rgb(227 221 163);
  font: bold 5vw sans-serif;
}
