.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222222;
  width: 100%;
}

.clock div {
  margin: 0 10px;
}

.separator {
  align-items: center;
  color: #ffab11;
  font-size: 2rem;
}
