body {
  background-color: white;
}

.color {
  background: radial-gradient(circle at center, #fce91f 0%, #ffe645 4%, #faf369 12.25%, #faf5bf 31.25%, #fefbe6 50%) top
    right/200% 200%;
  animation: vary 10s infinite alternate;
  width: 100%;
}

@keyframes vary {
  0% {
    background-position: top left;
  }
  25% {
    background-position: center right;
  }
  75% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}
